section.blog
  .container.blog-wrap
    .blog-wrap--item
      .main-news
        .main-news--imgBlock
          img(src="img/upload/fiseBmx.jpg", alt="Fise BMX Contest" class="main-news--img")
        .main-news--content
          h4.news--caption It is a long established fact that a reader will be distracted
          p.date-post Posted at May 12. 2018
          p.news--shortDesc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          a(href="#" class="news--link") Continue Reading
      .short-news
        .short-news--item
          .short-news--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="short-news--img")
          .short-news--content
            h4.news--caption Butcher Jam BMX Contest
            p.date-post Posted at September 15. 2018
            p.news--shortDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
            a(href="#" class="news--link") Continue Reading
        .short-news--item
          .short-news--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="short-news--img")
          .short-news--content
            h4.news--caption Butcher Jam BMX Contest
            p.date-post Posted at September 15. 2018
            p.news--shortDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
            a(href="#" class="news--link") Continue Reading
        .short-news--item
          .short-news--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="short-news--img")
          .short-news--content
            h4.news--caption Butcher Jam BMX Contest
            p.date-post Posted at September 15. 2018
            p.news--shortDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
            a(href="#" class="news--link") Continue Reading
        .short-news--item
          .short-news--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="short-news--img")
          .short-news--content
            h4.news--caption Butcher Jam BMX Contest
            p.date-post Posted at September 15. 2018
            p.news--shortDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
            a(href="#" class="news--link") Continue Reading
        .short-news--item
          .short-news--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="short-news--img")
          .short-news--content
            h4.news--caption Butcher Jam BMX Contest
            p.date-post Posted at September 15. 2018
            p.news--shortDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
            a(href="#" class="news--link") Continue Reading
        .short-news--item
          .short-news--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="short-news--img")
          .short-news--content
            h4.news--caption Butcher Jam BMX Contest
            p.date-post Posted at September 15. 2018
            p.news--shortDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
            a(href="#" class="news--link") Continue Reading
    .blog-wrap--sidebar
      .search
        form.search-form
          input(type="text", name="searchBlog" class="searchBlog" placeholder="Search...")
          button(type="submit" class="searchBlog-submit")
            i(class="fa fa-search" aria-hidden="true")
      .blog-sidebar--categories
        h2.blog-sidebar--caption Categories
        ul.blog-sidebar--list
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Creative #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Fashion #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Image #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Photography #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Videos #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") WordPress #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Antiquarianism #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Championship #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Clerkship #[span.link_span (30)]
      .blog-sidebar--posts
        h2.blog-sidebar--caption Recent posts
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
      .blog-sidebar--instagram
        h2.blog-sidebar--caption Instagram
        .inst-wrap
          .inst-blog
          .inst-blog
          .inst-blog
          .inst-blog
          .inst-blog
          .inst-blog
  
