section.blog
  .container.blog-wrap
    .blog-wrap--sidebar
      .search
        form.search-form
          input(type="text", name="searchBlog" class="searchBlog" placeholder="Search...")
          button(type="submit" class="searchBlog-submit")
            i(class="fa fa-search" aria-hidden="true")
      .blog-sidebar--categories
        h2.blog-sidebar--caption Categories
        ul.blog-sidebar--list
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Creative #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Fashion #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Image #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Photography #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Videos #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") WordPress #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Antiquarianism #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Championship #[span.link_span (30)]
          li.blog-sidebar--item
            a(href="#" class="blog-sidebar--link") Clerkship #[span.link_span (30)]
      .blog-sidebar--posts
        h2.blog-sidebar--caption Recent posts
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
        .recent-posts
          .recent-posts--imgBlock
            img(src="img/upload/butcherJam.jpg", alt="Butcher Jam BMX" class="recent-posts--img")
          .recent-posts--content
            h4.posts--caption Butcher Jam BMX Contest
            p.date-post--recent Posted at September 15. 2018
      .blog-sidebar--instagram
        h2.blog-sidebar--caption Instagram
        .inst-wrap
          .inst-blog
          .inst-blog
          .inst-blog
          .inst-blog
          .inst-blog
          .inst-blog
    .blog-wrap--item
      .main-news.personNews-page
        .main-news--imgBlock
          img(src="img/upload/fiseBmx.jpg", alt="Fise BMX Contest" class="main-news--img")
        .main-news--content.personNews-page--content
          h4.news--caption It is a long established fact that a reader will be distracted
          p.date-post Posted at May 12. 2018
          p.news--shortDesc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.quote-txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
          p.news--shortDesc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          p.news--shortDesc Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        .personNews-page--tags
          ul.personNews-page--list
            li.personNews-page--item Author: #[span Admin]
            li.personNews-page--item Categories: #[span Tips, Trending]
            li.personNews-page--item Tags: #[span ullamcorper, vulputate]
        .personNews-page--social
          ul.personNews-page--list.page_social
            li.personNews-page--item
              a(href="#" class="personNews-page--link")
                i(class="fa fa-facebook" aria-hidden="true")
            li.personNews-page--item
              a(href="#" class="personNews-page--link")
                i(class="fa fa-twitter" aria-hidden="true")
            li.personNews-page--item
              a(href="#" class="personNews-page--link")
                i(class="fa fa-google-plus" aria-hidden="true")
            li.personNews-page--item
              a(href="#" class="personNews-page--link")
                i(class="fa fa-linkedin" aria-hidden="true")
            li.personNews-page--item
              a(href="#" class="personNews-page--link")
                i(class="fa fa-vk" aria-hidden="true")
            li.personNews-page--item
              a(href="#" class="personNews-page--link")
                i(class="fa fa-envelope-o" aria-hidden="true")
              