section.banner
  .banner__slider.owl-carousel
    .slider__item
      img(src="../../../img/upload/dhbike.jpg" alt="down hill bike" class="slider__img imgBg")
      .slider__content
        h1.slider__caption t#[sup h]e b#[sup i]c#[sup y]c#[sup l]e
        p.slider__description Lorem Ipsum is simply dummy text of the printing
        a(class="slider__link btn" href="#") shop now
    .slider__item
      img(src="../../../img/upload/downhill_1.jpg" alt="down hill bike" class="slider__img imgBg")
      .slider__content
        h1.slider__caption t#[sup h]e b#[sup i]c#[sup y]c#[sup l]e
        p.slider__description Lorem Ipsum is simply dummy text of the printing
        a(class="slider__link btn" href="#") shop now