.header-menu
  background: $txtBlack

.menuWrap
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  height: 50px

.nav__list,
.wishlist__list
  margin: 0
  padding: 0

.nav__list--item,
.wishlist__item
  display: inline-block
  list-style: none
  padding: 15px 0

.nav__link
  +use-latoFont(1.6rem, #fff, 300)
  text-transform: uppercase
  text-decoration: none
  padding: 10px 38px
  margin: 0px 9px
  transition: .4s
  &:first-child
    padding-left: 0px
    margin-left: 0
  &:hover
    color: #595959

.wishlist
  +use-latoFont(1.4rem, #fff, 300)

.wishlist__btn
  border: none
  background: none
  font-size: 1.8rem
  color: #fff
  cursor: pointer
  position: relative

.wishlist__btn:before
  content: '0'
  width: 18px
  height: 18px
  display: block
  position: absolute
  font-size: 1.2rem
  top: 0
  left: -5px
  border-radius: 50%
  background: $priceRed

.category
  position: relative

.category__dropdown
  position: absolute
  bottom: -160px
  left: 0
  z-index: 5
  display: none

.dropdown__wrap
  background: rgba(0,0,0,0.5)
  width: 130px

.dropdown__list
  margin: 0
  padding: 0

.dropdown__item
  list-style: none
  width: 100%
  height: 40px
  padding: 8px
  transition: .4s
  &:hover
    background: rgba(255,255,255,0.3)

.dropdown__link
  +use-latoFont(1.6rem, #fff, 300)
  text-transform: uppercase
  text-decoration: none

.category:hover .category__dropdown
  display: block