section.category-section
  .container
    .category-wrap
      .category-item
        a(href="on-road.html" class="category__link")
          img(src="img/upload/bike1.jpg" class="category__img")
        a(href="on-road.html" class="category__title") On Road Bikes
      .category-item
        a(href="off-road.html" class="category__link")
          img(src="img/upload/off-road-bike1.jpg" class="category__img")
        a(href="on-road.html" class="category__title") Off Road Bikes
      .category-item
        a(href="x-road.html" class="category__link")
          img(src="img/upload/x-road-bike1.jpg" class="category__img")
        a(href="on-road.html" class="category__title") X Road Bikes
      .category-item
        a(href="bmx.html" class="category__link")
          img(src="img/upload/bmx-bike2.jpg" class="category__img")
        a(href="on-road.html" class="category__title") BMX
      .category-item
        a(href="gear.html" class="category__link")
          img(src="img/upload/P-TRX1_29er_Alloy_Trail.jpg" class="category__img")
        a(href="on-road.html" class="category__title") GEARS
      
