section.getInTouch
  .wrap__getInTouch
    img(src="img/upload/dh2.jpg" class="getInTouch__img imgBg")
    .getInTouch__content
      h2.getInTouch__caption get in touch
      p.getInTouch__desc Have an idea or a project, lets collaborate and build some awesome stuff
      a(class="getInTouch__btn btn" href="#") Buy now