section.homeBlog
  .container
    h2.homeBlog__caption from our blog
    p.homeBlog__desc Latest news & event of our bike
    .homeBlog__wrap
      .homeBlog__wrap--item
        .item__img.wrap__item
          img(src="../../img/upload/dhbike3.jpg", alt="Down hill bike" class="homeBlog__img")
        .item__content.wrap__item
          h3.content__miniCaption Gulf Today Report On KGS Carnival – 2015
          p.content__miniPosted Posted at March 19. 2015
          p.content__miniDesc Excellence is never an accident. It is always the result of high intention and intelligent execution; it represents the wise choice of many alternatives.
          a(href="#" class="content__linkFullPost") Continue Reading
      .homeBlog__wrap--item
        .item__img.wrap__item
          img(src="../../img/upload/dhbike4.jpeg", alt="Down hill bike" class="homeBlog__img")
        .item__content.wrap__item
          h3.content__miniCaption Excepteur sint ipsum dolor sit amet conse ctetur
          p.content__miniPosted Posted at March 19. 2015
          p.content__miniDesc Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt . Lorem ipsum dolor sit amet conse ctetur adipisicing
          a(href="#" class="content__linkFullPost") Continue Reading
    img(src="../../../img/shadow.png", alt="shadow" class="homeBlog__shadow")
