section.brands
  .container
    ul.brands__list
      li.brands__item
        img(src="img/brandsLogo/shepard.png", alt="Shepard Logo" class="brands__img")
      li.brands__item
        img(src="img/brandsLogo/midnight_baker.png", alt="Midnight Baker Logo" class="brands__img")
      li.brands__item
        img(src="img/brandsLogo/your_clothes.png", alt="Your Clothes Logo" class="brands__img")
      li.brands__item
        img(src="img/brandsLogo/netsuite.png", alt="Netsuite Logo" class="brands__img")
      li.brands__item
        img(src="img/brandsLogo/target.png", alt="Target. Logo" class="brands__img")
      li.brands__item
        img(src="img/brandsLogo/audiojungle.png", alt="Audiojungle Logo" class="brands__img")