section
  .container.shopCart
    h2.shopCart__caption Shop Cart
    .table-wrap
      table.shopCart__table
        tr
          th(class="shopCart__table--header" colspan="2") Product
          th.shopCart__table--header Price
          th.shopCart__table--header Quantity
          th.shopCart__table--header Total
        tr
          td.shopCart__table--body
            button(class="shopCart__table--delBtn") &times;
          td.shopCart__table--body
            .shopCart__wrap--itemProd
              .shopCart__table--body--item
                img(src="img/upload/bike1.jpg", alt="Bike" class="shopCart__table--img")
              .shopCart__table--body--item
                p.shopCart__name--product Liv Race Day Short
                p.shopCart__color--product Color: #[span.table__colorSpan]
          td.shopCart__table--body #[span.table__price $30.00]
          td.shopCart__table--body
            .qty__wrap
              .qty__item
                input(type="text" value="1" class="qty__count")
                button.qty__plus
                  i(class="fa fa-arrow-up" aria-hidden="true")
                button.qty__minus
                  i(class="fa fa-arrow-down" aria-hidden="true")
          td.shopCart__table--body #[span.table__totalPrice $30.00]
        tr
          td.shopCart__table--body
            button(class="shopCart__table--delBtn") &times;
          td.shopCart__table--body
            .shopCart__wrap--itemProd
              .shopCart__table--body--item
                img(src="img/upload/bike1.jpg", alt="Bike" class="shopCart__table--img")
              .shopCart__table--body--item
                p.shopCart__name--product Liv Race Day Short
                p.shopCart__color--product Color: #[span.table__colorSpan]
          td.shopCart__table--body #[span.table__price $18.00]
          td.shopCart__table--body
            .qty__wrap
              .qty__item
                input(type="text" value="1" class="qty__count")
                button.qty__plus
                  i(class="fa fa-arrow-up" aria-hidden="true")
                button.qty__minus
                  i(class="fa fa-arrow-down" aria-hidden="true")
          td.shopCart__table--body #[span.table__totalPrice $36.00]
        tr
          td.shopCart__table--body
            button(class="shopCart__table--delBtn") &times;
          td.shopCart__table--body
            .shopCart__wrap--itemProd
              .shopCart__table--body--item
                img(src="img/upload/bike1.jpg", alt="Bike" class="shopCart__table--img")
              .shopCart__table--body--item
                p.shopCart__name--product Liv Race Day Short
                p.shopCart__color--product Color: #[span.table__colorSpan]
          td.shopCart__table--body #[span.table__price $325.00]
          td.shopCart__table--body
            .qty__wrap
              .qty__item
                input(type="text" value="1" class="qty__count")
                button.qty__plus
                  i(class="fa fa-arrow-up" aria-hidden="true")
                button.qty__minus
                  i(class="fa fa-arrow-down" aria-hidden="true")
          td.shopCart__table--body #[span.table__totalPrice $325.00]
    ul.shopCart__links
      li.shopCart__links--item
        a(href="on-road.html" class="backToShopLink") < Back to shop
      li.shopCart__links--item
        button(class="backToShopBtn") update cart
    .shopCart__total
      .shopCart__total--item
        h2.shopCart__total--caption Coupon
        p.shopCart__total--desc Enter your coupon code if you have one.
        form.shopCart__total--form
          input(type="text" class="shopCart__total--inpCoupon" placeholder="Coupon code")
          button(type="submit" class="shopCart__total--btn") Apply Coupon
      .shopCart__total--item
        .order-shipping
          ul.subtotal__list
            li.subtotal__list--item Subtotal
            li(class="subtotal__list--item subtotal-price") $490.00 
          h2.order-shipping__caption Shipping and Handling
          form.order-shipping__form
            input(type="radio" name="delivery" id="flatRate" value="Flat Rate" checked)
            label(for="flatRate" class="order-shipping__form--label") Flat Rate: #[span $30.00]
            input(type="radio" name="delivery" id="intDeliv" value="International Delivery")
            label(for="intDeliv" class="order-shipping__form--label") International Delivery: #[span $150.00]
            input(type="radio" name="delivery" id="localDeliv" value="Local Delivery")
            label(for="localDeliv" class="order-shipping__form--label") Local Delivery: #[span $90.00]
            input(type="radio" name="delivery" id="LocalPickUp" value="Local Pick Up(Free)")
            label(for="LocalPickUp" class="order-shipping__form--label") Local Pick Up(Free)
        ul.order-shipping__list.shopCart__total--list
          li.order-shipping__item Order Total
          li.order-shipping__item
            span.order-total__span $520.00       