section
  .container
    .advantages
      .advantages__item
        h4.advantages__caption free uk delivery
        p.advantages__desc International delivery available
      .advantages__item
        h4.advantages__caption gift cards & wrapping
        p.advantages__desc The perfect way to bring a smile
      .advantages__item
        h4.advantages__caption qualified opticians
        p.advantages__desc Prescription Experts
    img(class="advantages__shadow" src="img/shadow.png")
