.header-menu
  .container.menuWrap
    .menu
      nav.nav
        ul.nav__list
          li.nav__list--item
            a(href="index.html" class="nav__link") Home
          li.nav__list--item.category
            a(href="#" class="nav__link") Category
            .category__dropdown
              .dropdown__wrap
                ul.dropdown__list
                  li.dropdown__item
                    a(href="on-road.html" class="dropdown__link") On-Road
                  li.dropdown__item
                    a(href="off-road.html" class="dropdown__link") Off-Road
                  li.dropdown__item
                    a(href="x-road.html" class="dropdown__link") X-Road
                  li.dropdown__item
                    a(href="bmx.html" class="dropdown__link") BMX
          li.nav__list--item
            a(href="bikes.html" class="nav__link") Bikes
          li.nav__list--item
            a(href="gear.html" class="nav__link") Gear
          li.nav__list--item
            a(href="blogPage.html" class="nav__link") Blog
          li.nav__list--item
            a(href="#" class="nav__link") About
          li.nav__list--item
            a(href="contactPage.html" class="nav__link") Contact
    .wishlist
      ul.wishlist__list
        li.wishlist__item
          button.wishlist__btn
            i(class="fa fa-heart" aria-hidden="true")
        li.wishlist__item
          button.wishlist__btn
            i(class="fa fa-shopping-bag" aria-hidden="true")
        li.wishlist__item Cart: 
          span.price $199.00