.header-top
  .header-top__lang
    select(class="currency" name="curr")
      option(value="usd") USD
      option(value="eur") EUR
      option(value="rub") RUB
    select(class="lang" name="lang")
      option(value="eng") English
      option(value="rus") Russian
    span.phone Call us : (012) 3456 7890
  .header-top__user
    nav
      ul.header-top__list
        li.list__item
          a(href="#" class="item__link") My Account 
        li.list__item
          a(href="#" class="item__link") Wishlist
        li.list__item
          a(href="shopCart.html" class="item__link") My Cart
        li.list__item
          a(href="checkout.html" class="item__link") Checkout
        li.list__item
          a(href="#" class="item__link") Login