.header-main
  .header-main__logo
    h2.logo bike sport
  .header-main__search
    select(class="search__category" name="category")
      option(value="all") All Category
      option(value="bmx") BMX
    form.header-main__search--form
      input(type="search", name="search" class="header-search__inp" placeholder="Search for product")
      button.btn-search
        i(class="fa fa-search" aria-hidden="true")
