.featured__products
  h2.caption__products Featured products
  .tabs
    ul.tabs__list
      li.tabs__item
        button.tabs__link.activeTabs On-Road
      li.tabs__item
        button.tabs__link X-Road
      li.tabs__item
        button.tabs__link Off-Road
      li.tabs__item
        button.tabs__link BMX
  .wrap__products
    .item__products
      .img__wrap
        img(class="featured__img" src="../../../img/upload/bike1.jpg" alt="On road bike")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Propel Advanced SL 0
      p.price__products &#36;900.00
    .item__products
      .img__wrap
        img(class="featured__img" src="../../../img/upload/bike2.jpg" alt="On road bike")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Defy Advanced SL
      p.price__products &#36;1770.00
    .item__products
      .img__wrap
        img(class="featured__img" src="../../../img/upload/bike3.jpg" alt="On road bike")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products FastRoad CoMax
      p.price__products &#36;900.00
  .featured__colors
    ul.colors__list
      li(class="colors__item") 
        button(class="crlBlue colors__btn")
      li(class="colors__item")
        button(class="crlOrange colors__btn")
      li(class="colors__item")
        button(class="crlViolet colors__btn")
      li(class="colors__item")
        button(class="crlGrey colors__btn")
      li(class="colors__item")
        button(class="crlBrown colors__btn")
