.product__cart
  .container
    .product__wrap
      .product__item
        img(class="product__img" src="../../../img/upload/bike4.jpg" alt="Propel Advanced Pro Frameset")
      .product__item
        .item__counter
          .counter
            h5.counter__number 120
            p.counter__prefix days
          .counter
            h5.counter__number 09
            p.counter__prefix hour
          .counter
            h5.counter__number 38
            p.counter__prefix min
          .counter
            h5.counter__number 57
            p.counter__prefix sec
        .item__description
          p.modelBike Propel Advanced Pro Frameset
          .wrap-modelRating
            div(class="rating__item fa fa-star-o" data-rate="1")
            div(class="rating__item fa fa-star-o" data-rate="2")
            div(class="rating__item fa fa-star-o" data-rate="3")
            div(class="rating__item fa fa-star-o" data-rate="4")
            div(class="rating__item fa fa-star-o" data-rate="5")
          p.modelPrice &#36;2,290.00
        .item__options
          .colors 
            p.colors__opt Color : 
              ul(class="colors__list prod-list")
                li(class="colors__item") 
                  button(class="crlBlue colors__btn")
                li(class="colors__item")
                  button(class="crlOrange colors__btn")
                li(class="colors__item")
                  button(class="crlViolet colors__btn")
                li(class="colors__item")
                  button(class="crlGrey colors__btn")
                li(class="colors__item")
                  button(class="crlBrown colors__btn")
          .inStock
            p.inStock__txt In Stock: 10
        .item__btns
          button.addCart #[i(class="fa fa-shopping-bag fa-marg" aria-hidden="true")] Add to cart
          button.addWishlist #[i(class="fa fa-heart fa-wish" aria-hidden="true")] Add to wishlist