.widget__products
  h2.caption__products Widget products
  .tabs
    ul.tabs__list
      li.tabs__item
        button.tabs__link Baby Seats
      li.tabs__item
        button.tabs__link Bells
      li.tabs__item
        button.tabs__link Bottle Cages
      li.tabs__item
        button.tabs__link Fenders
      li.tabs__item
        button.tabs__link.activeTabs View All
  .wrap__products
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/Rack-It_Disc_Rack.jpg" alt="Rack-It Disc Rack")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Rack-It Disc Rack
      p.price__products &#36;1100.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/P-TRX1_29er_Alloy_Trail.jpg" alt="P-TRX1 29er Alloy Trail")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products P-TRX1 29er Alloy Trail
      p.price__products &#36;320.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/SureLock_Protector_1_LS.jpg" alt="SureLock Protector 1 LS")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products SureLock Protector 1 LS
      p.price__products &#36;65.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/Liv giant_Sport_Pedals.jpg" alt="Liv/giant Sport Pedals")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Liv/giant Sport Pedals
      p.price__products &#36;48.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/Liv_Connect_Forward.jpg" alt="Liv Connect Forward")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Liv Connect Forward
      p.price__products &#36;15.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/Cyclotron_Mag_II_Trainer.jpg" alt="Cyclotron Mag II Trainer")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Cyclotron Mag II Trainer
      p.price__products &#36;180.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/Comfort_DX_Grips.jpg" alt="Comfort DX Grips")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Comfort DX Grips
      p.price__products &#36;12.00
    .item__products.widget
      .img__wrap
        img(class="widget__img" src="../../../img/upload/Liv_Rev_Helmet.jpg" alt="Liv Rev Helmete")
        .featured__hoverBtn
          button.hoverBtn-btn Add to cart
          button.hoverBtn-btn Quick view
      p.desc__products Liv Rev Helmet
      p.price__products &#36;150.00