.widget__products
  h2.caption__products Widget products
  .tabs
    ul.tabs__list
      li.tabs__item
        a(href="#view__all" class="tabs__link") View All
      li.tabs__item
        a(href="#bells" class="tabs__link") Bells
      li.tabs__item
        a(href="#bottle__cages" class="tabs__link") Bottle Cages
      li.tabs__item
        a(href="#fenders" class="tabs__link") Fenders
      li.tabs__item
        a(href="#baby__seats" class="tabs__link") Baby Seats
  div(class="widget__wrap-products" id="fenders")
    .item__products.widget
      .img__wrap
        a(href="propelAdv.html" class="productLink")
          img(class="widget__img" src="../../../img/upload/SureLock_Protector_1_LS.jpg" alt="SureLock Protector 1 LS")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") SureLock Protector 1 LS
      p.price__products &#36;65.00
    .item__products.widget
      .img__wrap
        a(href="propelAdv.html" class="productLink")
          img(class="widget__img" src="../../../img/upload/Cyclotron_Mag_II_Trainer.jpg" alt="Cyclotron Mag II Trainer")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Cyclotron Mag II Trainer
      p.price__products &#36;180.00
  div(class="widget__wrap-products" id="bottle__cages")
    .item__products.widget
      .img__wrap
        a(href="propelAdv.html" class="productLink")
          img(class="widget__img" src="../../../img/upload/bottle.jpg" alt="Bottle")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Bottle Bicycle
      p.price__products &#36;20.00
  div(class="widget__wrap-products" id="bells")
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/bell.jpeg" alt="Bell")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Bell Cateye
      p.price__products &#36;10.00
  div(class="widget__wrap-products" id="baby__seats")
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/babySeat.png" alt="Baby Seat")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Baby Seat
      p.price__products &#36;200.00
  div(class="widget__wrap-products" id="view__all")
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/Rack-It_Disc_Rack.jpg" alt="Rack-It Disc Rack")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Rack-It Disc Rack
      p.price__products &#36;1100.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/P-TRX1_29er_Alloy_Trail.jpg" alt="P-TRX1 29er Alloy Trail")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") P-TRX1 29er Alloy Trail
      p.price__products &#36;320.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/SureLock_Protector_1_LS.jpg" alt="SureLock Protector 1 LS")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") SureLock Protector 1 LS
      p.price__products &#36;65.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/Liv giant_Sport_Pedals.jpg" alt="Liv/giant Sport Pedals")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Liv/giant Sport Pedals
      p.price__products &#36;48.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/Liv_Connect_Forward.jpg" alt="Liv Connect Forward")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Liv Connect Forward
      p.price__products &#36;15.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/Cyclotron_Mag_II_Trainer.jpg" alt="Cyclotron Mag II Trainer")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Cyclotron Mag II Trainer
      p.price__products &#36;180.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/Comfort_DX_Grips.jpg" alt="Comfort DX Grips")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Comfort DX Grips
      p.price__products &#36;12.00
    .item__products.widget
      .img__wrap
        a(href="#" class="productLink")
          img(class="widget__img" src="../../../img/upload/Liv_Rev_Helmet.jpg" alt="Liv Rev Helmete")
        button.hoverBtn-btn Add to cart
        button.hoverBtn-btn Quick view
      a(href="#" class="desc__products") Liv Rev Helmet
      p.price__products &#36;150.00